@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #7C3AED;
  --color-accent: #06B6D4;
  --color-background: #F8FAFC;
  --color-text: #0F172A;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem; /* For sticky navbar */
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
